@import '../../../../assets/styles/variables.sass'
  
.navigation 
  min-width: 100px;
  display: flex;
  justify-items: center;
  align-items: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  position: fixed;
  width: 100%;
  background: black;
  z-index: 10;
  color: white;
  flex-direction: column;

  &.scroll 
    > .navigation-inner
      transition: 0.2s all;
      padding: 0.85rem 1rem 0.85rem 1rem

  .retro-bars
    width: 100%;

    > div 
      height: 0.4rem;

  .navigation-inner
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 1rem 1.5rem 1rem;
    width: 100%;

    a 
      font-weight: 500;
      line-height: 1.6em;
      font-size: 1.16rem;
      text-decoration: none;
      color: inherit;

    .logo 
      display: flex;
      align-items: center;
      text-decoration: none;
      margin: 0px;
      
      p 
        color: inherit;
        margin: 0;
        margin-left: 0.5rem;

      img 
        max-width: 25px;
        margin: 0px;

    .links
      display: flex;

      @media (max-width: $mobile-breakpoint)
        display: none;
      
      a 
        margin-left: 1rem;
        margin-right: 1rem;

        &:hover
          opacity: 0.85;

        &.active
          border-bottom: solid 4px $accent-color-dark;

    

    .space
      opacity: 0;
      